In [12]:
import geopandas as gpd
import pandas as pd

In [2]:
borough = gpd.read_file('G:/dane_python/nyc_taxi_other/taxi_zones/taxi_zones.shp')
borough = borough.to_crs(epsg=4326)

In [3]:
borough

,OBJECTID,Shape_Leng,Shape_Area,zone,LocationID,borough,geometry
0,1,0.116357,0.000782,Newark Airport,1,EWR,"POLYGON ((-74.18445 40.69500, -74.18449 40.695..."
1,2,0.433470,0.004866,Jamaica Bay,2,Queens,"MULTIPOLYGON (((-73.82338 40.63899, -73.82277 ..."
2,3,0.084341,0.000314,Allerton/Pelham Gardens,3,Bronx,"POLYGON ((-73.84793 40.87134, -73.84725 40.870..."
3,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((-73.97177 40.72582, -73.97179 40.725..."
4,5,0.092146,0.000498,Arden Heights,5,Staten Island,"POLYGON ((-74.17422 40.56257, -74.17349 40.562..."
...,...,...,...,...,...,...,...
258,259,0.126750,0.000395,Woodlawn/Wakefield,259,Bronx,"POLYGON ((-73.85107 40.91037, -73.85207 40.909..."
259,260,0.133514,0.000422,Woodside,260,Queens,"POLYGON ((-73.90175 40.76078, -73.90147 40.759..."
260,261,0.027120,0.000034,World Trade Center,261,Manhattan,"POLYGON ((-74.01333 40.70503, -74.01327 40.704..."
261,262,0.049064,0.000122,Yorkville East,262,Manhattan,"MULTIPOLYGON (((-73.94383 40.78286, -73.94376 ..."
262,263,0.037017,0.000066,Yorkville West,263,Manhattan,"POLYGON ((-73.95219 40.77302, -73.95269 40.772..."

In [4]:
borough['longitude'] = borough.centroid.x
borough['latitude'] = borough.centroid.y

C:\Users\Mariusz\AppData\Local\Temp/ipykernel_17540/1917794612.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  borough['longitude'] = borough.centroid.x
C:\Users\Mariusz\AppData\Local\Temp/ipykernel_17540/1917794612.py:2: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  borough['latitude'] = borough.centroid.y

In [5]:
type(borough)

geopandas.geodataframe.GeoDataFrame

In [6]:
df = pd.DataFrame(borough.loc[:,['OBJECTID','Shape_Leng','Shape_Area','zone','LocationID','borough','longitude','latitude']])

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df

,OBJECTID,Shape_Leng,Shape_Area,zone,LocationID,borough,longitude,latitude
0,1,0.116357,0.000782,Newark Airport,1,EWR,-74.174000,40.691831
1,2,0.433470,0.004866,Jamaica Bay,2,Queens,-73.831299,40.616745
2,3,0.084341,0.000314,Allerton/Pelham Gardens,3,Bronx,-73.847422,40.864474
3,4,0.043567,0.000112,Alphabet City,4,Manhattan,-73.976968,40.723752
4,5,0.092146,0.000498,Arden Heights,5,Staten Island,-74.188484,40.552659
...,...,...,...,...,...,...,...,...
258,259,0.126750,0.000395,Woodlawn/Wakefield,259,Bronx,-73.852215,40.897932
259,260,0.133514,0.000422,Woodside,260,Queens,-73.906306,40.744235
260,261,0.027120,0.000034,World Trade Center,261,Manhattan,-74.013023,40.709139
261,262,0.049064,0.000122,Yorkville East,262,Manhattan,-73.946510,40.775932
262,263,0.037017,0.000066,Yorkville West,263,Manhattan,-73.951010,40.778766

In [9]:
df.dtypes

OBJECTID        int64
Shape_Leng    float64
Shape_Area    float64
zone           object
LocationID      int64
borough        object
longitude     float64
latitude      float64
dtype: object

In [13]:
df.to_parquet('G:/dane_python/nyc_taxi_other/taxi_zones_lat_long.parquet',compression=None)